body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: grabbing;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* text */

.text {
  position: relative;
  height: 100%;
  width: 100%;
}

.color {
  position: absolute;
  top: 50%;
  left: 50%;
  mix-blend-mode: multiply;
  font-size: 256px;
  text-transform: uppercase;
}

.cyan {
  color: #00adee;
  transform: translate(-51%, -46%);
}

.magenta {
  color: #ec008c;
  transform: translate(-50%, -52%);
}

.yellow {
  color: #fef100;
  transform: translate(-48%, -48%);
}

/* tools */

.tools {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size {
  padding: 20px;
  position: relative;
}

.input {
  padding: 20px;
}

input {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  font-size: 16px;
}

.credit {
  padding: 20px 0;
}

.credit a {
  color: black;
  text-decoration: none;
}

.resize {
  content: "RESIZE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
