body {
  margin: 0;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* text */

.text {
  font-family: "Montserrat", sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
}

.color {
  position: absolute;
  top: 50%;
  left: 50%;
  mix-blend-mode: multiply;
  font-size: 256px;
  text-transform: uppercase;
}

.cyan {
  color: #00adee;
  transform: translate(calc(-51%), calc(-46%));
}

.magenta {
  color: #ec008c;
  transform: translate(calc(-50%), calc(-52%));
}

.yellow {
  color: #fef100;
  transform: translate(calc(-48%), calc(-48%));
}

/* tools */

.tools {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
}
